#clickable {
  text-decoration: underline;
  cursor: pointer;
}

.quiz-container {
  margin: auto;
  border: 1px solid #ccccccf5;
  width: 60%;
  padding: 30px;
  box-shadow: 0 0 10px black; 
}

.question {
  font-size: 18px;
}

.options {
  list-style-type: none;
  padding: 0;
}


.option {
  margin-bottom: 10px;
}

li a {
  cursor: pointer;
}