*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main{
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}



#main2{
  height: 100%;
  width: 63%;
  background-color: rgb(244, 181, 9);
  background-image:url("/static/style/index_images/quiz.jpg");
  /* background-size: cover; */
  background-position: left center; 
  background-size: cover;
}

#login-container {
  margin: auto;
  font-size: 1.5rem;
  padding: 0;
}


html,body{
  background-color:bisque;
  height: 100%;
  width:100%;
  
}

