<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="static/style/login.css" rel="stylesheet">
  <title>New Subject</title>
</head>
<body>
  <div class="container main-container">
    
  
    <form>
      <div class="mb-3 center"><h3>New Subject</h3></div>
      <div class="mb-3">
        <label for="name" class="form-label">Name : </label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="subjectName" placeholder="Subject">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description : </label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
      </div>
      <div class="mb-3 center">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/admin/{{name}}" type="Button" class="btn btn-primary">Cancel</a>
      </div>
    </form>
</div>
</body>
</html>