<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="static/style/global.css" rel="stylesheet">

  <title>Register Page</title>
</head>
<body>
  <div class="container new-container">
    <form method="POST" action="/register">
      <div class="mb-3 center"><h3>Registration</h3></div>
      <div class="mb-3 flex">
        <label for="username" class="form-label">Email: </label>
        <input type="text" class="form-control" id="username" name="email" aria-describedby="emailHelp" placeholder="example@gmail.com">
      </div>
      <div class="mb-3 flex">
        <label for="password" class="form-label">Password: </label>
        <input type="password" class="form-control" id="password" placeholder="Your password" name="password">
      </div>
      <div class="mb-3 flex">
        <label for="name" class="form-label">First Name:</label>
        <input type="text" class="form-control" id="f_name" name="f_name"  placeholder="Your First Name">
      </div>
      <div class="mb-3 flex">
        <label for="name" class="form-label">Last Name:</label>
        <input type="text" class="form-control" id="l_name" name="l_name"  placeholder="Your Last Name">
      </div>
      <div class="mb-3 flex">
        <label for="qualification" class="form-label">Qualification: </label>
        <select id="qualification" name="qualification" placeholder="Your qualification" >
          <option value="12th Standard">12th Standard</option>
          <option value="10th Standard">10th Standard</option>
          <option value="Diploma">Diploma</option>
          <option value="Bachelor of Science">Bachelor of Science</option>
          <option value="Master of Science">Master of Science</option>
        </select>
        <!-- <input type="text" class="form-control" id="qualification" name="qualification" placeholder="Your qualification" /> -->
      </div>
      <div class="mb-3 flex">
        <label for="dob" class="form-label">Date of Birth: </label>
        <input type="date" class="form-control" id="dob" name="dob" placeholder="Your Date of Birth">
      </div>
      <div class="mb-3 center">
        <button type="submit" class="btn btn-primary">Signup</button>
      </div>
      Existing user?<a href="/login">Login</a>
      <div class="center">{{msg}}</div>
    </form>
</div>
</body>
</html>