<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>
  <link href="/static/style/user_dashboard.css" rel="stylesheet">
  <title>User Dashboard</title>
</head>
<body>


  <div class="container new-container">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">User Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/user_dashboard/{{name}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/explore_subject/{{name}}">Subjects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/score/{{name}}">Scores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="window.location.href='/'">Logout</a>
            </li>
          </ul>
          <form class="d-flex" role="search" method="POST" action="">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <span class="nav=text">
            Welcome to {{name}}
          </span>
        </div>
      </div>
    </nav>
    <div class="flex-container">
    {% for subject in subjects %}
    
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="title">{{subject.name}}</h5>
          <p class="description">{{subject.description}}</p>
        </div>
        <div class="mb-3 center go-to-button">
          <a onclick="window.location.href='/explore_subject/{{subject.sub_id}}/{{name}}'" type="Button" class="btn btn-secondary">Explore Subject</a>
        </div>
      </div>
    

    {% endfor %}
  </div>
  </div>
</body>
</html>