<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>
  <link href="/static/style/admin_dashboard.css" rel="stylesheet">
  <title>User Dashboard</title>
</head>
<body>


  <div class="container new-container">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">User Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/user_dashboard/{{name}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/explore_subject/{{name}}">Subjects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/score/{{name}}">Scores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user_summary/{{name}}">Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="window.location.href='/'">Logout</a>
            </li>
          </ul>
          <form class="d-flex" role="search" method="POST" action="/user_search/{{name}}">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <span class="nav=text">
            Welcome to {{name}}
          </span>
        </div>
      </div>
    </nav>
    <div class="flex-container">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="title">Summary</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Subjects/No. of Quizzes Attempted</h6>
          <img src="{{ url_for('static', filename='style/images/subjectwise_quiz_attempts.jpeg') }}" width="500" height="400" alt="Bar Chart">
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="title">Summary</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Subjectwise Average Scores</h6>
          <img src="{{ url_for('static', filename='style/images/subjectwise_average.jpeg') }}" width="200" height="200" alt="Pie Chart">
        </div>
      </div>
    </div>
  </div>
</body>
</html>